/* Variables */
:root {
  --primary-color: #4c6ca0;
  --secondary-color: #3b5998;
  --image: url(../img/hero-image.png);
}

/* Main Styling */
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  color: #fff;
}

p {
  margin: 10px 0;
}

i {
  display: inline;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  padding: 2rem;
}

section > * {
  margin: 0 auto;
  max-width: 100vmax;
}
#hero-image {
  min-height: 100vh;
  background-image: var(--image);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
}
/* Section colors */
#home {
  background: black;
}
#about {
  background: red;
}
#contact {
  background: orangered;
}
#services {
  background: blueviolet;
}

/* Navbar Styling */
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 18vh;
  background-color: #f4f4f4;
  position: fixed;
  top: 0;
  padding: 1.25rem;
}

.navbar .logo img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 20vw;
}

.navbar .logo a {
  transition: color 0.4s ease-in-out;
}

.navbar .logo a:hover {
  color: var(--secondary-color);
}

.navbar .nav-menu {
  display: flex;
}

.nav-menu .nav-item a {
  display: inline-block;
  padding: 1rem 1.4rem 1rem 1rem;
  width: 100%;
  transition: background 0.3s ease;
  color: black;
}

.nav-menu .nav-item a:hover {
  background-color: var(--primary-color);
  color: #fff;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

/* Responsive */
@media only screen and (max-width: 768px) {
  #hero-image {
    position: absolute;
    visibility: hidden;
  }
  .nav-menu {
    position: fixed;
    right: -100%;
    top: 0rem;
    flex-direction: column;
    width: 50%;
    height: 100%;
    text-align: right;
    transition: 0.3s;
    background-color: #f4f4f4;
  }
  .nav-menu.active {
    right: 0;
  }

  .nav-menu li:first-child {
    margin-top: 5rem;
    border-top: 0.2rem solid #ccc;
  }

  .nav-item {
    width: 100%;
    border-bottom: 1px solid #ccc;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
@media (min-width: 768px) {
  .navbar .logo img {
    width: 12vw;
    padding-bottom: 1vh;
  }
}
@media (min-width: 1000px) {
  body {
    margin: 0;
    padding: 0;
  }
  .navbar .logo img {
    width: 8vw;
    padding-bottom: 1vh;
  }
}
